<!-- El footer es la sección que va al final de la página -->
<footer>
    <!-- En el footer pondremos información adicional sobre el negocio -->
    <h3>Acerca de linio</h3>
    <ul>
        <!-- Usaremos la propiedad target="_blank" para que el enlace abra en otra pestaña -->
        <a href="#" target="_blank">
            <li>Historia</li>
        </a>
        <a href="#" target="_blank">
            <li>Ayuda</li>
        </a>
        <a href="#" target="_blank">
            <li>Términos y condiciones</li>
        </a>
        <a href="#" target="_blank">
            <li>Legales</li>
        </a>
    </ul>
</footer>