<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0" />-->
    <!--<link rel="shortcut icon" type="image/png" href="#" />
    <link rel="apple-touch-icon" sizes="128x128" href="#">
    <link rel="icon" sizes="192x192" href="#">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='custom.css') }}" />
    <title>Linio - Compra por internet</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-light shadow">

        <!-- Dropdown menu-->
        <a href="#">
            <i class="fas fa-bars fa-secondary fa-2x"></i>
        </a>

        <!-- Enlace para ir a inicio -->
        <a href="#">

            <!-- Logo de Linio -->
            <img class="mt-1 scale"
                src="https://upload.wikimedia.org/wikipedia/en/thumb/a/aa/Linio_logo_refresh.svg/1200px-Linio_logo_refresh.svg.png"
                style="height:47px;">
        </a>

        <!-- Solo se mostrara este div en pantallas grandes -->
        <div class="d-none d-md-block mt-2 mb-2">
            <!-- Formulario de búsqueda -->
            <form class="form-inline">
                <div class="input-group input-group-lg">

                    <input class="form-control" type="search" placeholder="BUSCA EL PRODUCTO QUE NECESITAS" aria-label="Search"
                        style="border-radius: 0px 0px 0px 0px; border-width: 2px 0px 2px 1px; min-width: 300px;">
                    <div class=" input-group-append">
                        <button type="button" name="button"
                            style="border-radius: 0px 50px 50px 0px; border-width: 2px 2px 2px 0px; border-color: #707070; background-color: white;">
                            <i class="fas fa-primary fa-search mr-2" style="font-size: 24px;"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- Enlace a página de carrito -->
        <a href="#">
            <i class="fas fa-secondary fa-shopping-cart fa-2x"></i>
        </a>

    </nav>

    <!-- Descripción del producto-->

    <section class="container mx-auto px-4" style="max-width:1080px;">
        <div class="mt-4">
            <h3 style="font-weight: 700;">Esto tienes en tu carrito. {{cantidad}} / {{codigo_producto}}</h3>
        </div>


        <!-- Modal de confirmación de borrar producto de carrito -->
            <div class="modal fade" id="BorrarDeCarrito" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content text-dark"
                        style="border-color: #666666; border-radius: 15px; border-width: 5px;">
                        <div class="modal-body" style="background-color: white; border-radius: 15px;">
                            <!-- Botón para cerrar modal -->
                            <button type="button" class="close mt-1 mr-1" data-dismiss="modal" aria-label="Close">
                                <i class="fas fa-times"></i>
                            </button><br>

                            </h4>
                            <!-- Contenido-->
                            <div class="row mt-3">
                                <div class="col-sm-5 col-4 text-center">
                                    <img src="https://cdn11.bigcommerce.com/s-k11cg5mzh9/images/stencil/500x659/products/174/7288/f712dc4da724d0a469fddc8228e878b7c6687ad5550bbf5af3c86ab917c90153__82936.1587664694.jpg?c=2"
                                        class="w-100 ml-3" alt="">
                                </div>
                                <div class="col-sm-7 col-8 my-auto">
                                    <div class="container my-auto">
                                        <h5 class="text-left mt-2">Skullcandy Push™ True Wireless Earbuds / {{cantidad}} / {{codigo_producto}}</h5>
                                        <h5 class="text-left">S/ 499.00</h5>
                                        <h5 class="text-left">Cantidad: 1</h5>
                                    </div>
                                </div>
                                <form class="w-100 text-center">
                                    <button onclick="return eliminarCarrito();" class="btn btn-danger w-75 mx-auto" data-dismiss="modal"
                                            aria-label="Close"
                                        style="max-width: 225px; min-width: 125px;">
                                        <strong>Borrar de carrito</strong>
                                    </button>
                                    <div class="container mt-3 mb-3 mx-0 px-0 text-center">
                                        <button class="btn btn-outline-secondary w-75 mx-auto"
                                            style="max-width: 225px; min-width: 125px;" href="#" data-dismiss="modal"
                                            aria-label="Close">
                                            <strong>Cancelar</strong>
                                        </button>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        <div id="borrar" class="row mt-4">
            <div class="col-sm-4 text-center">
                <img style="max-width:300px;"
                    src="https://cdn11.bigcommerce.com/s-k11cg5mzh9/images/stencil/500x659/products/174/7288/f712dc4da724d0a469fddc8228e878b7c6687ad5550bbf5af3c86ab917c90153__82936.1587664694.jpg?c=2"
                    class="w-100" alt="...">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-8 col-7">
                        <h4 class="mt-3 d-sm-block d-none" style="font-weight: 600;">Skullcandy Push™ True Wireless Earbuds</h4>
                        <h4 class="d-sm-block d-none">Cantidad: 1</h4>
                        <button class="btn btn-lg btn-outline-secondary" style="border-radius: 10px;"
                            data-toggle="modal" data-target="#BorrarDeCarrito">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </div>
                    <div class="col-md-4 col-5 text-left">
                        <h4 class="mt-3 d-sm-block d-none" style="font-weight: 600;">S/ 499.00</h4>
                    </div>
                </div>
            </div>

        </div>
        </div>
        <div class="progress mt-4 mb-4" style="height:2px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4 text-center">
                <img style="max-width:300px;"
                    src="https://cdn11.bigcommerce.com/s-k11cg5mzh9/images/stencil/500x659/products/238/7477/dd29105ee964a0991e1cf2b9a3ab932fa0add7bd4dba489785bb1add1018f9b4__96711.1589988322.jpg?c=2"
                    class="w-75" alt="...">
            </div>
            <div class="col-sm-8">
                <div class="row">
                    <div class="col-md-8 col-7">
                        <h4 class="mt-3 d-sm-block d-none" style="font-weight: 600;">Indy™ Fuel True Wireless Earbuds</h4>
                        <h4 class="d-sm-block d-none">Cantidad: 1</h4>
                    </div>
                    <div class="col-md-4 col-5">
                        <h4 class="mt-3 d-sm-block d-none" style="font-weight: 600;">S/ 590.00</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="progress mt-4 mb-4" style="height:2px;">
            <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
                aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-sm-4"></div>
            <div class="col-xl-8 col-md-8 col-sm-8">
                <div class="row">
                    <div class="col-md-8 col-7">
                        <h4 class="d-sm-block d-none" style="font-weight: 600;">Subtotal</h4>
                        <h4 class="d-sm-block d-none" style="font-weight: 600;">Envío</h4>
                    </div>
                    <div class="col-md-4 col-5">
                        <h4 class="d-sm-block d-none" style="font-weight: 600;">S/ 1 089.00</h4>
                        <h4 class="d-sm-block d-none" style="font-weight: 600;">S/ 16.00</h4>
                    </div>
                </div>
                <div class="progress mt-4 mb-4" style="height:2px;">
                    <div class="progress-bar" role="progressbar" style="width: 100%; background-color:#C9C9C9;"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-7">
                        <h4 class="d-sm-block d-none" style="font-weight: 600;">Total</h4>
                    </div>
                    <div class="col-md-4 col-5">
                        <h4 class="d-sm-block d-none" style="font-weight: 600;" id="total"><p id="currentTotal">S/1105</p></h4>
                    </div>
                </div>
                <a href="{{ url_for('datosenvio') }}">
                 <button class="btn btn-lg btn-primary mt-4 btn-block w-75 mx-auto" style="max-width:300px;"
                    <strong class="text-light">Confirmar pedido</strong>
                </button>
                </a>
            </div>
        </div>

    </section>

    <!-- Footer -->
    <footer class="text-white mt-4" style="background-color:#2E3133;">
        <div class="container">
            <div class="row px-2 py-5">
                <div class="col-md-6 p-3">
                    <h5>Acerca de Linio</h5>
                    <p style="color: #B3B3B3;" class="">Lima, Perú<br>
                        +51 953 216 420<br>
                        https://estamosyendo.com/</p>
                    <p>Copyright © 2020 Yendo!. Todos los derechos reservados. </p>
                </div>
                <div class="col-md-3 p-3">
                    <h5>Secciones </h5>
                    <a style="color: #B3B3B3;" href="#">Lo que hacemos</a><br>
                    <a style="color: #B3B3B3;" href="#">Preguntas Frecuentes</a><br>
                    <a style="color: #B3B3B3;" href="#">Política de Privacidad</a><br>
                    <a style="color: #B3B3B3;" href="#">Legal</a>
                </div>
                <div class="col-md-3 p-3">
                    <h5>Síguenos:</h5>
                    <a style="color: #8b8b8b;" href="https://www.facebook.com/yendoPE/" target="_blank"><i
                            class="fab fa-facebook-square fa-2x m-2"></i></a>
                    <a style="color: #B3B3B3;" href="https://www.instagram.com/yendo.pe/" target="_blank"><i
                            class="fab fa-instagram fa-2x m-2"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <footer style="background-color: black;" class="text-center w-100 text-light">
        <p class="py-3">Lo hizo el mejor grupo de SOLU</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script>

    function eliminarCarrito() {   
        var element=document.getElementById('borrar');
        var current=document.getElementById('currentTotal');
        var newTotal='S/ 606'
        var total = document.getElementById('total');
        var newNode = document.createElement('p');
        
        
        element.parentNode.removeChild(element);
        current.parentNode.removeChild(current);
        newNode.appendChild(document.createTextNode(newTotal));
        total.appendChild(newNode);
        return false
    }


</script>
</body>