<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datos de envio</title>
</head>
<body>
    <form method="post" action="/datospago">
            <label>Nombre</label><br>
            <input type="text" name="nombre" placeholder="Nombre" required="""><br>
            <label>Dirección</label><br>
            <input type="text" name="dirección" placeholder="Dirección" required=""><br>
            <label>Distrito</label><br>
            <input type="text" name="distrito" placeholder="Distrito" required=""><br>
            <input type="submit" name="enviar" value="Enviar">
    </form>
</body>
</html>
